body {
    background-image: url(./desktop-wallpaper-krusty-krab-spongebob-krusty-krab.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
    }
.header {
    background-color: rgb(255, 241, 161);
    width: 100vw;
    height: 100vh;
    padding-top: 100vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0.8;
    }
}

.headerMenu {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 40px;
    margin: auto;
    border: 1px;
    border-style: solid;
    background-color:bisque;
    border-radius: 5px;
}
#newAd {
    display: flex;
    align-items: center;
    height: 35px;
  margin: auto;
  font-family: georgia;
  border-radius: 5px;
  gap: 8px;
  padding: 4px 16px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #172e5e;
  color: #f5f4df;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.newAdImg {
    height: 20px;
}
.article {
    margin-top: 15px;
    display: flex;
    row-gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.articleText {
    width: auto;
    height: 80px;
    background-color: white;
}
.NextPg {
    background-color: white;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
}
.footer {
    background-color: white;
    width: 95%;
    height: 150px;
    margin: auto;
    margin-top: 50px;
}
.card{
    width: 280px;
    height: auto;
    margin: 24px;
    background-color: blanchedalmond;
    padding: 1rem 0.8rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content:space-between;
    align-items: center;
    
    opacity: 0.9;
    h2 {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    transition: 1s;
}

.card:hover{
    opacity: 1;
    scale: 1.2;
}

.image-container {
   max-width: 90%;
   img {
    width: 100%;
   }
   
}
.details-button{
    width: 100%;
    min-height: 45px;
    cursor: pointer;
    border: 1px solid black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 55px;
    background-color: #172e5e;
    color: #f5f4df;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.single-item {
    background-color: bisque;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 6px 7px 1px 1px #9f999985;
}

.price {
    font-size: 16px;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 26px;
}

.title {}

.single-image-container {

    padding-bottom: 0px;
    img {
        width: 100%;
        object-fit:cover;
        height: 80%;
    }
}

.newAd-card {
    width: 86%;
    height: 250px;
  
}

.newAd-name, .newAd-price, .newAd-imgURL, .newAd-description, .newAd-locations {
    background-color: rgb(230, 221, 221);
    width: 86%;
    height: 50px;
    margin-top: 15px;

}

.footer{
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: end;
    background-color: bisque;
    border-radius: 5px;
    
}