body {
    background-color: rgb(28, 114, 114);
}
.header {
    background-color: rgb(255, 241, 161);
}
.headerMenu {

    width: 85%;
    height: 30px;
    margin: auto;
    border: 1px;
    border-style: solid;
    background-color:bisque
}
#newAd {
    margin-left: 50px;
    margin-top: 5px;
}
.article {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
}
.articleText {
    width: auto;
    height: 80px;
    background-color: white;
}
.NextPg {
    background-color: white;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
}
.footer {
    background-color: white;
    width: 95%;
    height: 150px;
    margin: auto;
    margin-top: 50px;
}
.card{
    width: 200px;
    height: auto;
    background-color: blanchedalmond;
    padding: 1rem 0.8rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    h2 {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}
.image-container {
   max-width: 90%;
   img {
    width: 100%;
   }
   
}
.details-button{
    width: 114px;
}

.single-item {
    background-color: bisque;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 6px 7px 1px 1px #9f999985;
}

.price {

}

.title {

}

.single-image-container {

    padding-bottom: 0px;
    img {
        width: 100%;
        object-fit:cover;
        height: 80%;
    }
}

.newAd-card {
    width: 86%;
    height: 250px;
  
}

.newAd-name, .newAd-price, .newAd-imgURL, .newAd-description, .newAd-locations {
    background-color: rgb(230, 221, 221);
    width: 86%;
    height: 50px;
    margin-top: 15px;

}

.footer{
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: end;
    background-color: bisque;
    border-radius: 5px;
    
}